::ng-deep .quill-dark-theme .ql-container {
  border: none !important;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

::ng-deep .quill-dark-theme .ql-editor {
  padding: 0 !important;
  color: #374151 !important;
  min-height: auto !important;
  background: transparent !important;
}

::ng-deep .quill-dark-theme .ql-editor p {
  margin-bottom: 1rem;
  color: #4B5563;
}

::ng-deep .quill-dark-theme .ql-editor strong {
  color: #111827;
  font-weight: 600;
}

::ng-deep .quill-dark-theme .ql-editor * {
  line-height: 1.75;
}

::ng-deep .quill-dark-theme .ql-toolbar {
  display: none !important;
}
